---
layout: page
permalink: /Categories/
title: Categories by Content
---
<div class="row">
  <!-- x represents middle index of tags array  -->
  <!-- tags is a sorted array -->
  {% assign x = site.tags | size | divided_by: 2 | plus: 1 %}
  {% assign tags = site.tags | sort %}

  <div class="col-md">
      {% for tag in tags limit:x %}
      <h5>{{ tag[0] }}</h5>
      <ul>
          {% for post in tag[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
      </ul>
      {% endfor %}
  </div>

  <div class="col-md">
      {% for tag in tags offset:x %}
      <h5>{{ tag[0] }}</h5>
      <ul>
          {% for post in tag[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
      </ul>
      {% endfor %}
  </div>
</div>